{% extends "nav.html" %}

{% block start %}
<div class="container mt-5">
    <div class="jumbotron text-white bg-secondary shadow-lg">
        <h1 class="display-4">Welcome to <b>BookStore</b></h1>
        <p class="lead"><b>Discover a world of knowledge and imagination with our vast collection of books.</b></p>
        <p>Explore various genres and authors, and embark on an enriching literary journey.</p>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="{{'/list/'}}" role="button">Browse Books</a>
        </p>
    </div>
</div>
{% endblock %}
