{% extends "nav.html" %}
{% block start %}

<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh">
  <div class="card">
      <div class="card-body">
          <form method="post" class="form-signin">
              {% csrf_token %}

              <h1 class="mb-4">Register</h1>

              {% if form.errors %}
                <div class="alert alert-danger mb-3" role="alert">
                  Please correct the errors below.
                </div>
              {% endif %}

              <div class="mb-3">
                  {{ form.first_name.label_tag }}
                  {{ form.first_name }}
                  <small class="text-danger">{{ form.first_name.errors }}</small>
              </div>

              <div class="mb-3">
                  {{ form.last_name.label_tag }}
                  {{ form.last_name }}
                  <small class="text-danger">{{ form.last_name.errors }}</small>
              </div>

              <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
                <small class="text-danger">{{ form.username.errors }}</small>
              </div>

              <div class="mb-3">
                  {{ form.email.label_tag }}
                  {{ form.email }}
                  <small class="text-danger">{{ form.email.errors }}</small>
              </div>

              <div class="mb-3">
                  {{ form.password1.label_tag }}
                  {{ form.password1 }}
                  <small class="text-danger">{{ form.password1.errors }}</small>
              </div>

              <div class="mb-3">
                  {{ form.password2.label_tag }}
                  {{ form.password2 }}
                  <small class="text-danger">{{ form.password2.errors }}</small>
              </div>

              <button type="submit" class="btn btn-success">Register</button>
          </form>
      </div>
  </div>
</div>

{% endblock %}
